<!-- Features Section -->
<section class="features py-5">
  <div class="container">
    <h1 class="text-center mb-5">Mein aktuelles Projekt</h1>

    <div class="row">
      <!-- Goals Cards -->
      <div class="col-md-6">
        <div class="card text-center h-100">
          <div class="card-body">
            <div class="display-4">📚</div>
            <h3 class="card-title mt-3">Read 3 books</h3>
            <p class="card-text">every month</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="">Evasio</h2>
        <p class="">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
          quidem, necessitatibus voluptatibus, voluptate ipsam officiis
        </p>
        <p class="">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
          quidem, necessitatibus voluptatibus, voluptate ipsam officiis
        </p>
        <p class="">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
          quidem, necessitatibus voluptatibus, voluptate ipsam officiis
        </p>
        <button class="button">Projekt ansehen</button>
      </div>
    </div>
  </div>
</section>
