<section class="skills my-5">
    <div class="mission-content">
        <h1 class="text-center mb-5">Was ich sehr gut kann...</h1>
        <div class="row">
            <!-- Goals Cards -->
            <div class="col-md-4">
              <div class="card text-center h-100">
                <div class="card-body">
                  <div class="display-4">📚</div>
                  <h3 class="card-title mt-3">Fullstack Webentwicklung</h3>
                  <p class="card-text">Durch meine erlernten Skills in Spring Boot und Angular kann ich komplexe Webanwendungen entwickeln</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center h-100">
                  <div class="card-body">
                    <div class="display-4">📚</div>
                    <h3 class="card-title mt-3">Probleme lösen</h3>
                    <p class="card-text">Durch meine Kreative Herangehensweise an Problemen, löse ich diese früher oder später</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card text-center h-100">
                  <div class="card-body">
                    <div class="display-4">📚</div>
                    <h3 class="card-title mt-3">Read 3 books</h3>
                    <p class="card-text">every month</p>
                  </div>
                </div>
              </div>
            </div>
    </div>
</section>


